In [38]:
import pandas as pd

In [39]:
df = pd.read_csv("data/BTCUSD_1hr.csv")

In [40]:
df = df[["Date", "Open", "High", "Low", "Close", "Volume"]]

In [41]:
df["Date"] = df["Date"].apply(pd.Timestamp)

In [42]:
df = df.sort_values(by="Date").set_index("Date")

In [43]:
ohlc_dict = {'Open':'first', 'High':'max', 'Low':'min', 'Close': 'last', "Volume": 'mean'}

In [44]:
df = df.resample('4H').agg(ohlc_dict)

In [46]:
df = df.dropna()

In [54]:
df = df[3:]

                        Open     High      Low    Close      Volume
Date
2015-10-09 00:00:00   243.95   243.95   243.60   243.60    0.750000
2015-10-09 04:00:00   243.60   243.60   243.60   243.60    0.000000
2015-10-09 08:00:00   243.60   243.75   243.60   243.63    0.250000
2015-10-09 12:00:00   243.63   244.00   243.63   244.00    2.036271
2015-10-09 16:00:00   244.00   244.06   243.70   244.06    0.915656
...                      ...      ...      ...      ...         ...
2020-04-08 08:00:00  7323.36  7356.72  7221.54  7295.80   56.911926
2020-04-08 12:00:00  7295.80  7350.88  7207.50  7283.45  139.221945
2020-04-08 16:00:00  7283.45  7364.49  7261.61  7320.11  194.391764
2020-04-08 20:00:00  7320.11  7398.92  7311.33  7369.60   86.062941
2020-04-09 00:00:00  7369.60  7369.60  7338.23  7338.23    7.788915

[9865 rows x 5 columns]